<div class="p-4">
    <div class="container">
        <h2 style="color: rgb(212, 17, 212); text-align: center;">Here are your Images</h2>
        <h2></h2>
    </div>

    <!-- <div class="container"> -->

 <!-- <h2>Welcome to the showroom where everyone's images can be viewed!</h2>
 <p>The tags for the images have been determined through a tensorflow image classifier; try seeing if you can find more resemblances than the AI!</p> -->


<!-- <div class="card-group">
<div class="card">
    <img class="card-img-top" object-fit="cover" src="http://localhost:4000/public/uploads/yoshimario14-_DSC5399.jpg" alt="Card image cap">
    
    <div class="card-group">
    <div class="card">
        <div class="card-body">
            <p class="card-text">This is.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="card-text">This is.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="card-text">This is.</p>
        </div>
    </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
    </div>
</div>
<div class="card">
    <img class="card-img-top" object-fit="cover" src="http://localhost:4000/public/uploads/yoshimario14-images.png" alt="Card image cap">
    <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
    <small class="text-muted">Last updated 3 mins ago</small>
    </div>
</div>
<div class="card">
    <img class="card-img-top" object-fit="cover" src="http://localhost:4000/public/uploads/yoshimario14-Wallpaper.jpg" alt="Card image cap">
    <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
    <small class="text-muted">Last updated 3 mins ago</small>
    </div>
</div> -->

    <div style="margin: 10px auto; padding: 150px;">
        <ngx-masonry-gallery [width]="300" [images]="images"></ngx-masonry-gallery>
    </div>


  <!-- </div> -->
</div>