<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark navbar-fixed" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/gallery" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Gallery</a>
        <a class="nav-item nav-link" routerLink="/showroom" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Showroom</a>
        <a class="nav-item nav-link ml-auto" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4">
    <p>
        <a href="https://github.com/ynoza" target="_top">Yash Oza</a>
    </p>
</div>