<div class="p-4">
    <div class="container">
        <!-- <h1>Hi {{user.firstName}}!</h1> -->
        <!-- <p>You're logged in with Angular 10!!</p> -->
        <div [hidden]="!isAdmin">
            <p><a routerLink="/users">Manage Users</a></p>
        </div>
        <image-upload
            [max]="10"
            [maxFileSize]="1048576666"
            [fileTooLargeMessage]="'Image too large!'"
            [buttonCaption]="'Add Images Here'"
            class="customClass"
            [dropBoxMessage]="'Thumbnails of your images are previewed here for easy deletion and identification - only 5 images can be added together'"
            [extensions]="['jpg','png','gif']"
            [uploadedFiles]="variableName"
            (removed)="onRemoved($event)"
            (uploadFinished)="onUploadFinished($event)"
            (uploadStateChanged)="onUploadStateChanged($event)">
        </image-upload>

        <!-- <img src="http://localhost:4000/public/uploads/cat.png" alt="Cat"> -->
    </div>
</div>
